body{
    background-color: #23b499;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-family: 'Open sans', sans-serif;
}
.form{
    max-width: 300px;display: flex;flex-direction: column;border: 2px solid #3338;padding: 20px;
}
label{display: flex;flex-direction: column; margin-top: 20px;}
.form-foter{
    width: 100%;display: flex;justify-content: space-between;
}
.capsula{
    width: 100px;
}
button{

    width: 100%;
    padding: 10px; 
    cursor: pointer; 
    background-color: #fff;
    color: #23b499;
border: 0;
margin-top: 8vh;
    font-weight:bolder;
}
input{
    padding: 10px; margin-top: 10px;
}
img{
    border-radius: 20px;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance:none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #5c6664;
    background-image: none;

}

select::-ms-expand {
    display: none;
}
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
}
select{
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open sans', sans-serif;
}
.select::after {
    color: #fff;
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background-color: #000;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #23b499;

}